.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    /* background-color: #cce4fd !important; */
    border: 0px solid #ddd !important;
    border-bottom: 5px solid #f68b1f !important;
    color: #0056ff !important;
    font-weight: 600;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    font-weight: 400;
}

.nav-tabs {
    border-bottom: 1px solid #768da0;
}

a {
    color: #666 !important;
    text-decoration: none;
}